<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengda.platform.dao.EmployeeDao">
    <!-- 查询字段 -->
    <sql id="fields">
        select
            id id,
            name name,
            sex sex,
            identity_card identityCard,
            phone phone,
            create_time createTime,
            modify_time modifyTime,
            deleted deleted,
            end_time endTime,
            employee_no employeeNo,
            plant_code plantCode,
            password password,
            role role,
            status status,
            address address,
            contract_start_time contractStartTime,
            contract_end_time contractEndTime

    </sql>
    <!-- （条件） -->
    <sql id="where">
        <where>
            <if test="ids != null and  ids.size > 0">
                and id in
                <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="name != null and name != ''">
                and name= #{name,jdbcType=VARCHAR}
            </if>
            <if test="sex != null and sex != ''">
                and sex= #{sex,jdbcType=VARCHAR}
            </if>
            <if test="identityCard != null and identityCard != ''">
                and identity_card= #{identityCard,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != ''">
                and phone= #{phone,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time= #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="modifyTime != null">
                and modify_time= #{modifyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="deleted != null">
                and deleted= #{deleted,jdbcType=INTEGER}
            </if>
            <if test="endTime != null">
                and end_time= #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="employeeNo != null and employeeNo != ''">
                and employee_no= #{employeeNo,jdbcType=VARCHAR}
            </if>
            <if test="plantCode != null and plantCode != ''">
                and plant_code= #{plantCode,jdbcType=VARCHAR}
            </if>
            <if test="password != null and password != ''">
                and password= #{password,jdbcType=VARCHAR}
            </if>
            <if test="role != null">
                and role= #{role,jdbcType=INTEGER}
            </if>
            <if test="status != null and status != ''">
                and status= #{status,jdbcType=VARCHAR}
            </if>
            <if test="address != null and address != ''">
                and address= #{address,jdbcType=VARCHAR}
            </if>
            <if test="contractStartTime != null">
                and contract_start_time= #{contractStartTime,jdbcType=TIMESTAMP}
            </if>
            <if test="contractEndTime != null">
                and contract_end_time= #{contractEndTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
    <!-- （插入或更新） -->
    <sql id="saveSet">
        <trim prefix="" suffixOverrides=",">
            <if test="name != null and name != ''">
                name= #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null and sex != ''">
                sex= #{sex,jdbcType=VARCHAR},
            </if>
            <if test="identityCard != null and identityCard != ''">
                identity_card= #{identityCard,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone= #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time= #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time= #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted= #{deleted,jdbcType=INTEGER},
            </if>
            <if test="endTime != null">
                end_time= #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="employeeNo != null and employeeNo != ''">
                employee_no= #{employeeNo,jdbcType=VARCHAR},
            </if>
            <if test="plantCode != null and plantCode != ''">
                plant_code= #{plantCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password= #{password,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role= #{role,jdbcType=INTEGER},
            </if>
            <if test="status != null and status != ''">
                status= #{status,jdbcType=VARCHAR},
            </if>
            <if test="address != null and address != ''">
                address= #{address,jdbcType=VARCHAR},
            </if>
            <if test="contractStartTime != null">
                contract_start_time= #{contractStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="contractEndTime != null">
                contract_end_time= #{contractEndTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </sql>

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.zhengda.platform.entity.Employee" useGeneratedKeys="true"
            keyProperty="id">
        insert into employee set
        <include refid="saveSet"/>
    </insert>
    <!-- 批量插入实体 -->
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="id">
        insert into employee
        (
        name,
        sex,
        identity_card,
        phone,
        create_time,
        modify_time,
        deleted,
        end_time,
        employee_no,
        plant_code,
        password,
        role,
        status,
        address,
        contract_start_time,
        contract_end_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <trim prefix="" suffixOverrides=",">
                #{item.name,jdbcType=VARCHAR},
                #{item.sex,jdbcType=VARCHAR},
                #{item.identityCard,jdbcType=VARCHAR},
                #{item.phone,jdbcType=VARCHAR},
                #{item.createTime,jdbcType=TIMESTAMP},
                #{item.modifyTime,jdbcType=TIMESTAMP},
                #{item.deleted,jdbcType=INTEGER},
                #{item.endTime,jdbcType=TIMESTAMP},
                #{item.employeeNo,jdbcType=VARCHAR},
                #{item.plantCode,jdbcType=VARCHAR},
                #{item.password,jdbcType=VARCHAR},
                #{item.role,jdbcType=INTEGER},
                #{item.status,jdbcType=VARCHAR},
                #{item.address,jdbcType=VARCHAR},
                #{item.contractStartTime,jdbcType=TIMESTAMP},
                #{item.contractEndTime,jdbcType=TIMESTAMP},
            </trim>
            )
        </foreach>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.zhengda.platform.entity.Employee">
        update employee set
        <include refid="saveSet"/>
        where id = #{id}
    </update>
    <update id="deleteById">
        update employee
        <set>
            deleted=1
        </set>
        where id = #{id}
    </update>


    <delete id="deletePhysicalById">
        delete from  employee where id = #{id}
    </delete>
    <!-- 查询单个 -->
    <select id="getById" resultType="com.zhengda.platform.entity.Employee">
        <include refid="fields"/>
        from employee
        where id = #{id}
    </select>
    <!-- 查询 -->
    <select id="getList"
            resultType="com.zhengda.platform.entity.Employee">
        <include refid="fields"/>
        from employee
        <include refid="where"/>
        <if test="column != null">
            order by ${column}  ${sort}
        </if>
        <if test="offset != null">
            limit #{offset} , ${limit}
        </if>
    </select>


    <!-- 查询（计数） -->
    <select id="getCount" resultType="java.lang.Long">
        select count(*)
        from employee
        <include refid="where"/>
    </select>
    <select id="getListByTaskId"
            resultType="com.zhengda.platform.entity.Employee">
        <include refid="fields"/>
        from employee
        WHERE id IN (SELECT employee_id FROM `task_employee` WHERE task_id=#{taskId} ) AND deleted=0
    </select>


</mapper>
