<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengda.platform.dao.GroupDao">
    <!-- 查询字段 -->
    <sql id="fields">
        select
            id id,
            name name,
            deleted deleted,
            create_time createTime,
            modify_time modifyTime,
            parent_id parentId,
            plant_code plantCode,
            group_code groupCode

    </sql>
    <!-- （条件） -->
    <sql id="where">
        <where>
                        <if test="ids != null and  ids.size > 0">
                            and id in
                            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                            #{item}
                            </foreach>
                        </if>
                        <if test="name != null and name != ''">
                            and name= #{name,jdbcType=VARCHAR}
                        </if>
                        <if test="deleted != null">
                            and deleted= #{deleted,jdbcType=INTEGER}
                        </if>
                        <if test="createTime != null">
                            and create_time= #{createTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="modifyTime != null">
                            and modify_time= #{modifyTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="parentId != null">
                            and parent_id= #{parentId,jdbcType=BIGINT}
                        </if>
                        <if test="plantCode != null and plantCode != ''">
                            and plant_code= #{plantCode,jdbcType=VARCHAR}
                        </if>
                        <if test="groupCode != null and groupCode != ''">
                            and group_code= #{groupCode,jdbcType=VARCHAR}
                        </if>
        </where>
    </sql>
    <!-- （插入或更新） -->
    <sql id="saveSet">
        <trim prefix="" suffixOverrides=",">
                        <if test="name != null and name != ''">
                            name= #{name,jdbcType=VARCHAR},
                        </if>
                        <if test="deleted != null">
                            deleted= #{deleted,jdbcType=INTEGER},
                        </if>
                        <if test="createTime != null">
                            create_time= #{createTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="modifyTime != null">
                            modify_time= #{modifyTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="parentId != null">
                            parent_id= #{parentId,jdbcType=BIGINT},
                        </if>
                        <if test="plantCode != null and plantCode != ''">
                            plant_code= #{plantCode,jdbcType=VARCHAR},
                        </if>
                        <if test="groupCode != null and groupCode != ''">
                            group_code= #{groupCode,jdbcType=VARCHAR},
                        </if>
        </trim>
    </sql>

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.zhengda.platform.entity.Group" useGeneratedKeys="true"
            keyProperty="id">
        insert into group set
        <include refid="saveSet"/>
    </insert>
    <!-- 批量插入实体 -->
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="id">
        insert into group
        (
                    name,
                    deleted,
                    create_time,
                    modify_time,
                    parent_id,
                    plant_code,
                    group_code
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <trim prefix="" suffixOverrides=",">
                    #{item.name,jdbcType=VARCHAR},
                    #{item.deleted,jdbcType=INTEGER},
                    #{item.createTime,jdbcType=TIMESTAMP},
                    #{item.modifyTime,jdbcType=TIMESTAMP},
                    #{item.parentId,jdbcType=BIGINT},
                    #{item.plantCode,jdbcType=VARCHAR},
                    #{item.groupCode,jdbcType=VARCHAR},
            </trim>
            )
        </foreach>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.zhengda.platform.entity.Group">
        update group set
        <include refid="saveSet"/>
        where id = #{id}
    </update>
    <update id="deleteById">
        update group
        <set>
            deleted=1
        </set>
        where id = #{id}
    </update>

    <!-- 查询单个 -->
    <select id="getById" resultType="com.zhengda.platform.entity.Group">
        <include refid="fields"/>
        from group
        where id = #{id}
    </select>
    <!-- 查询 -->
    <select id="getList"
            resultType="com.zhengda.platform.entity.Group">
        <include refid="fields"/>
        from group
        <include refid="where"/>
        <if test="column != null">
            order by ${column}  ${sort}
        </if>
        <if test="offset != null">
            limit #{offset} , ${limit}
        </if>
    </select>


    <!-- 查询（计数） -->
    <select id="getCount" resultType="java.lang.Long">
        select count(*)
        from group
        <include refid="where"/>
    </select>
</mapper>
