<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengda.platform.dao.UserOrderDao">
    <!-- 查询字段 -->
    <sql id="fields">
        select
            id id,
            plant_code plantCode,
            process_order_no processOrderNo,
            process_order_type processOrderType,
            schedule_start_date scheduleStartDate,
            schedule_end_date scheduleEndDate,
            create_time createTime,
            modify_time modifyTime,
            deleted deleted

    </sql>
    <!-- （条件） -->
    <sql id="where">
        <where>
                        <if test="ids != null and  ids.size > 0">
                            and id in
                            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                            #{item}
                            </foreach>
                        </if>
                        <if test="plantCode != null and plantCode != ''">
                            and plant_code= #{plantCode,jdbcType=VARCHAR}
                        </if>
                        <if test="processOrderNo != null and processOrderNo != ''">
                            and process_order_no= #{processOrderNo,jdbcType=VARCHAR}
                        </if>
                        <if test="processOrderType != null and processOrderType != ''">
                            and process_order_type= #{processOrderType,jdbcType=VARCHAR}
                        </if>
                        <if test="scheduleStartDate != null">
                            and schedule_start_date= #{scheduleStartDate,jdbcType=TIMESTAMP}
                        </if>
                        <if test="scheduleEndDate != null">
                            and schedule_end_date= #{scheduleEndDate,jdbcType=TIMESTAMP}
                        </if>
                        <if test="createTime != null">
                            and create_time= #{createTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="modifyTime != null">
                            and modify_time= #{modifyTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="deleted != null">
                            and deleted= #{deleted,jdbcType=INTEGER}
                        </if>
        </where>
    </sql>
    <!-- （插入或更新） -->
    <sql id="saveSet">
        <trim prefix="" suffixOverrides=",">
                        <if test="plantCode != null and plantCode != ''">
                            plant_code= #{plantCode,jdbcType=VARCHAR},
                        </if>
                        <if test="processOrderNo != null and processOrderNo != ''">
                            process_order_no= #{processOrderNo,jdbcType=VARCHAR},
                        </if>
                        <if test="processOrderType != null and processOrderType != ''">
                            process_order_type= #{processOrderType,jdbcType=VARCHAR},
                        </if>
                        <if test="scheduleStartDate != null">
                            schedule_start_date= #{scheduleStartDate,jdbcType=TIMESTAMP},
                        </if>
                        <if test="scheduleEndDate != null">
                            schedule_end_date= #{scheduleEndDate,jdbcType=TIMESTAMP},
                        </if>
                        <if test="createTime != null">
                            create_time= #{createTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="modifyTime != null">
                            modify_time= #{modifyTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="deleted != null">
                            deleted= #{deleted,jdbcType=INTEGER},
                        </if>
        </trim>
    </sql>

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.zhengda.platform.entity.UserOrder" useGeneratedKeys="true"
            keyProperty="id">
        insert into user_order set
        <include refid="saveSet"/>
    </insert>
    <!-- 批量插入实体 -->
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="id">
        insert into user_order
        (
                    plant_code,
                    process_order_no,
                    process_order_type,
                    schedule_start_date,
                    schedule_end_date,
                    create_time,
                    modify_time,
                    deleted
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <trim prefix="" suffixOverrides=",">
                    #{item.plantCode,jdbcType=VARCHAR},
                    #{item.processOrderNo,jdbcType=VARCHAR},
                    #{item.processOrderType,jdbcType=VARCHAR},
                    #{item.scheduleStartDate,jdbcType=TIMESTAMP},
                    #{item.scheduleEndDate,jdbcType=TIMESTAMP},
                    #{item.createTime,jdbcType=TIMESTAMP},
                    #{item.modifyTime,jdbcType=TIMESTAMP},
                    #{item.deleted,jdbcType=INTEGER},
            </trim>
            )
        </foreach>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.zhengda.platform.entity.UserOrder">
        update user_order set
        <include refid="saveSet"/>
        where id = #{id}
    </update>
    <update id="deleteById">
        update user_order
        <set>
            deleted=1
        </set>
        where id = #{id}
    </update>

    <!-- 查询单个 -->
    <select id="getById" resultType="com.zhengda.platform.entity.UserOrder">
        <include refid="fields"/>
        from user_order
        where id = #{id}
    </select>
    <!-- 查询 -->
    <select id="getList"
            resultType="com.zhengda.platform.entity.UserOrder">
        <include refid="fields"/>
        from user_order
        <include refid="where"/>
        <if test="column != null">
            order by ${column}  ${sort}
        </if>
        <if test="offset != null">
            limit #{offset} , ${limit}
        </if>
    </select>


    <!-- 查询（计数） -->
    <select id="getCount" resultType="java.lang.Long">
        select count(*)
        from user_order
        <include refid="where"/>
    </select>
</mapper>
