<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengda.platform.dao.UserOrderDetailDao">
    <!-- 查询字段 -->
    <sql id="fields">
        select
            id id,
            order_id orderId,
            shift shift,
            material_code materialCode,
            material_desc materialDesc,
            material_group materialGroup,
            old_material_code oldMaterialCode,
            production_no productionNo,
            production_unit productionUnit,
            production_qty productionQty,
            read_status readStatus,
            update_time updateTime,
            zverid zverid,
            line_no lineNo,
            line_name lineName,
            create_time createTime,
            modify_time modifyTime,
            deleted deleted,
            flag flag,
            operationphase operationphase,
            operationphase_name operationphaseName,
            confirmation_no confirmationNo,
            machine machine,
            number_of_employees numberOfEmployees,
            operation_qty operationQty,
            operation_unit operationUnit,
            base_qty baseQty,
            denominator_qty denominatorQty,
            numerator_qty numeratorQty,
            labor_time laborTime,
            labor_unit laborUnit,
            machine_time machineTime,
            machine_unit machineUnit,
            item_no itemNo,
            component_code componentCode,
            component_desc componentDesc,
            component_qty componentQty,
            component_unit componentUnit,
            prodstor_location prodstorLocation,
            cost_operationphase costOperationphase,
            ctr_code ctrCode,
            receiving_flag receivingFlag,
            stage_flag stageFlag,
            replace_flag replaceFlag,
            waterelectronic waterelectronic,
            plant_code plantCode,
            process_order_no processOrderNo,
            production_type productionType,
            production_spec productionSpec,
            destination destination,
            target_weight targetWeight,
            customer_name customerName,
            production_name productionName

    </sql>
    <!-- （条件） -->
    <sql id="where">
        <where>
                        <if test="ids != null and  ids.size > 0">
                            and id in
                            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                            #{item}
                            </foreach>
                        </if>
                        <if test="orderId != null">
                            and order_id= #{orderId,jdbcType=BIGINT}
                        </if>
                        <if test="shift != null">
                            and shift= #{shift,jdbcType=INTEGER}
                        </if>
                        <if test="materialCode != null and materialCode != ''">
                            and material_code= #{materialCode,jdbcType=VARCHAR}
                        </if>
                        <if test="materialDesc != null and materialDesc != ''">
                            and material_desc= #{materialDesc,jdbcType=VARCHAR}
                        </if>
                        <if test="materialGroup != null and materialGroup != ''">
                            and material_group= #{materialGroup,jdbcType=VARCHAR}
                        </if>
                        <if test="oldMaterialCode != null and oldMaterialCode != ''">
                            and old_material_code= #{oldMaterialCode,jdbcType=VARCHAR}
                        </if>
                        <if test="productionNo != null and productionNo != ''">
                            and production_no= #{productionNo,jdbcType=VARCHAR}
                        </if>
                        <if test="productionUnit != null and productionUnit != ''">
                            and production_unit= #{productionUnit,jdbcType=VARCHAR}
                        </if>
                        <if test="productionQty != null">
                            and production_qty= #{productionQty,jdbcType=DECIMAL}
                        </if>
                        <if test="readStatus != null">
                            and read_status= #{readStatus,jdbcType=INTEGER}
                        </if>
                        <if test="updateTime != null">
                            and update_time= #{updateTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="zverid != null and zverid != ''">
                            and zverid= #{zverid,jdbcType=VARCHAR}
                        </if>
                        <if test="lineNo != null and lineNo != ''">
                            and line_no= #{lineNo,jdbcType=VARCHAR}
                        </if>
                        <if test="lineName != null and lineName != ''">
                            and line_name= #{lineName,jdbcType=VARCHAR}
                        </if>
                        <if test="createTime != null">
                            and create_time= #{createTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="modifyTime != null">
                            and modify_time= #{modifyTime,jdbcType=TIMESTAMP}
                        </if>
                        <if test="deleted != null">
                            and deleted= #{deleted,jdbcType=INTEGER}
                        </if>
                        <if test="flag != null and flag != ''">
                            and flag= #{flag,jdbcType=VARCHAR}
                        </if>
                        <if test="operationphase != null and operationphase != ''">
                            and operationphase= #{operationphase,jdbcType=VARCHAR}
                        </if>
                        <if test="operationphaseName != null and operationphaseName != ''">
                            and operationphase_name= #{operationphaseName,jdbcType=VARCHAR}
                        </if>
                        <if test="confirmationNo != null and confirmationNo != ''">
                            and confirmation_no= #{confirmationNo,jdbcType=VARCHAR}
                        </if>
                        <if test="machine != null and machine != ''">
                            and machine= #{machine,jdbcType=VARCHAR}
                        </if>
                        <if test="numberOfEmployees != null">
                            and number_of_employees= #{numberOfEmployees,jdbcType=INTEGER}
                        </if>
                        <if test="operationQty != null">
                            and operation_qty= #{operationQty,jdbcType=INTEGER}
                        </if>
                        <if test="operationUnit != null and operationUnit != ''">
                            and operation_unit= #{operationUnit,jdbcType=VARCHAR}
                        </if>
                        <if test="baseQty != null">
                            and base_qty= #{baseQty,jdbcType=DECIMAL}
                        </if>
                        <if test="denominatorQty != null">
                            and denominator_qty= #{denominatorQty,jdbcType=INTEGER}
                        </if>
                        <if test="numeratorQty != null">
                            and numerator_qty= #{numeratorQty,jdbcType=INTEGER}
                        </if>
                        <if test="laborTime != null">
                            and labor_time= #{laborTime,jdbcType=DECIMAL}
                        </if>
                        <if test="laborUnit != null and laborUnit != ''">
                            and labor_unit= #{laborUnit,jdbcType=VARCHAR}
                        </if>
                        <if test="machineTime != null">
                            and machine_time= #{machineTime,jdbcType=DECIMAL}
                        </if>
                        <if test="machineUnit != null and machineUnit != ''">
                            and machine_unit= #{machineUnit,jdbcType=VARCHAR}
                        </if>
                        <if test="itemNo != null and itemNo != ''">
                            and item_no= #{itemNo,jdbcType=VARCHAR}
                        </if>
                        <if test="componentCode != null and componentCode != ''">
                            and component_code= #{componentCode,jdbcType=VARCHAR}
                        </if>
                        <if test="componentDesc != null and componentDesc != ''">
                            and component_desc= #{componentDesc,jdbcType=VARCHAR}
                        </if>
                        <if test="componentQty != null">
                            and component_qty= #{componentQty,jdbcType=DECIMAL}
                        </if>
                        <if test="componentUnit != null and componentUnit != ''">
                            and component_unit= #{componentUnit,jdbcType=VARCHAR}
                        </if>
                        <if test="prodstorLocation != null and prodstorLocation != ''">
                            and prodstor_location= #{prodstorLocation,jdbcType=VARCHAR}
                        </if>
                        <if test="costOperationphase != null and costOperationphase != ''">
                            and cost_operationphase= #{costOperationphase,jdbcType=VARCHAR}
                        </if>
                        <if test="ctrCode != null and ctrCode != ''">
                            and ctr_code= #{ctrCode,jdbcType=VARCHAR}
                        </if>
                        <if test="receivingFlag != null and receivingFlag != ''">
                            and receiving_flag= #{receivingFlag,jdbcType=VARCHAR}
                        </if>
                        <if test="stageFlag != null and stageFlag != ''">
                            and stage_flag= #{stageFlag,jdbcType=VARCHAR}
                        </if>
                        <if test="replaceFlag != null and replaceFlag != ''">
                            and replace_flag= #{replaceFlag,jdbcType=VARCHAR}
                        </if>
                        <if test="waterelectronic != null and waterelectronic != ''">
                            and waterelectronic= #{waterelectronic,jdbcType=VARCHAR}
                        </if>
                        <if test="plantCode != null and plantCode != ''">
                            and plant_code= #{plantCode,jdbcType=VARCHAR}
                        </if>
                        <if test="processOrderNo != null and processOrderNo != ''">
                            and process_order_no= #{processOrderNo,jdbcType=VARCHAR}
                        </if>
                        <if test="productionType != null and productionType != ''">
                            and production_type= #{productionType,jdbcType=VARCHAR}
                        </if>
                        <if test="productionSpec != null and productionSpec != ''">
                            and production_spec= #{productionSpec,jdbcType=VARCHAR}
                        </if>
                        <if test="destination != null and destination != ''">
                            and destination= #{destination,jdbcType=VARCHAR}
                        </if>
                        <if test="targetWeight != null and targetWeight != ''">
                            and target_weight= #{targetWeight,jdbcType=VARCHAR}
                        </if>
                        <if test="customerName != null and customerName != ''">
                            and customer_name= #{customerName,jdbcType=VARCHAR}
                        </if>
                        <if test="productionName != null and productionName != ''">
                            and production_name= #{productionName,jdbcType=VARCHAR}
                        </if>
        </where>
    </sql>
    <!-- （插入或更新） -->
    <sql id="saveSet">
        <trim prefix="" suffixOverrides=",">
                        <if test="orderId != null">
                            order_id= #{orderId,jdbcType=BIGINT},
                        </if>
                        <if test="shift != null">
                            shift= #{shift,jdbcType=INTEGER},
                        </if>
                        <if test="materialCode != null and materialCode != ''">
                            material_code= #{materialCode,jdbcType=VARCHAR},
                        </if>
                        <if test="materialDesc != null and materialDesc != ''">
                            material_desc= #{materialDesc,jdbcType=VARCHAR},
                        </if>
                        <if test="materialGroup != null and materialGroup != ''">
                            material_group= #{materialGroup,jdbcType=VARCHAR},
                        </if>
                        <if test="oldMaterialCode != null and oldMaterialCode != ''">
                            old_material_code= #{oldMaterialCode,jdbcType=VARCHAR},
                        </if>
                        <if test="productionNo != null and productionNo != ''">
                            production_no= #{productionNo,jdbcType=VARCHAR},
                        </if>
                        <if test="productionUnit != null and productionUnit != ''">
                            production_unit= #{productionUnit,jdbcType=VARCHAR},
                        </if>
                        <if test="productionQty != null">
                            production_qty= #{productionQty,jdbcType=DECIMAL},
                        </if>
                        <if test="readStatus != null">
                            read_status= #{readStatus,jdbcType=INTEGER},
                        </if>
                        <if test="updateTime != null">
                            update_time= #{updateTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="zverid != null and zverid != ''">
                            zverid= #{zverid,jdbcType=VARCHAR},
                        </if>
                        <if test="lineNo != null and lineNo != ''">
                            line_no= #{lineNo,jdbcType=VARCHAR},
                        </if>
                        <if test="lineName != null and lineName != ''">
                            line_name= #{lineName,jdbcType=VARCHAR},
                        </if>
                        <if test="createTime != null">
                            create_time= #{createTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="modifyTime != null">
                            modify_time= #{modifyTime,jdbcType=TIMESTAMP},
                        </if>
                        <if test="deleted != null">
                            deleted= #{deleted,jdbcType=INTEGER},
                        </if>
                        <if test="flag != null and flag != ''">
                            flag= #{flag,jdbcType=VARCHAR},
                        </if>
                        <if test="operationphase != null and operationphase != ''">
                            operationphase= #{operationphase,jdbcType=VARCHAR},
                        </if>
                        <if test="operationphaseName != null and operationphaseName != ''">
                            operationphase_name= #{operationphaseName,jdbcType=VARCHAR},
                        </if>
                        <if test="confirmationNo != null and confirmationNo != ''">
                            confirmation_no= #{confirmationNo,jdbcType=VARCHAR},
                        </if>
                        <if test="machine != null and machine != ''">
                            machine= #{machine,jdbcType=VARCHAR},
                        </if>
                        <if test="numberOfEmployees != null">
                            number_of_employees= #{numberOfEmployees,jdbcType=INTEGER},
                        </if>
                        <if test="operationQty != null">
                            operation_qty= #{operationQty,jdbcType=INTEGER},
                        </if>
                        <if test="operationUnit != null and operationUnit != ''">
                            operation_unit= #{operationUnit,jdbcType=VARCHAR},
                        </if>
                        <if test="baseQty != null">
                            base_qty= #{baseQty,jdbcType=DECIMAL},
                        </if>
                        <if test="denominatorQty != null">
                            denominator_qty= #{denominatorQty,jdbcType=INTEGER},
                        </if>
                        <if test="numeratorQty != null">
                            numerator_qty= #{numeratorQty,jdbcType=INTEGER},
                        </if>
                        <if test="laborTime != null">
                            labor_time= #{laborTime,jdbcType=DECIMAL},
                        </if>
                        <if test="laborUnit != null and laborUnit != ''">
                            labor_unit= #{laborUnit,jdbcType=VARCHAR},
                        </if>
                        <if test="machineTime != null">
                            machine_time= #{machineTime,jdbcType=DECIMAL},
                        </if>
                        <if test="machineUnit != null and machineUnit != ''">
                            machine_unit= #{machineUnit,jdbcType=VARCHAR},
                        </if>
                        <if test="itemNo != null and itemNo != ''">
                            item_no= #{itemNo,jdbcType=VARCHAR},
                        </if>
                        <if test="componentCode != null and componentCode != ''">
                            component_code= #{componentCode,jdbcType=VARCHAR},
                        </if>
                        <if test="componentDesc != null and componentDesc != ''">
                            component_desc= #{componentDesc,jdbcType=VARCHAR},
                        </if>
                        <if test="componentQty != null">
                            component_qty= #{componentQty,jdbcType=DECIMAL},
                        </if>
                        <if test="componentUnit != null and componentUnit != ''">
                            component_unit= #{componentUnit,jdbcType=VARCHAR},
                        </if>
                        <if test="prodstorLocation != null and prodstorLocation != ''">
                            prodstor_location= #{prodstorLocation,jdbcType=VARCHAR},
                        </if>
                        <if test="costOperationphase != null and costOperationphase != ''">
                            cost_operationphase= #{costOperationphase,jdbcType=VARCHAR},
                        </if>
                        <if test="ctrCode != null and ctrCode != ''">
                            ctr_code= #{ctrCode,jdbcType=VARCHAR},
                        </if>
                        <if test="receivingFlag != null and receivingFlag != ''">
                            receiving_flag= #{receivingFlag,jdbcType=VARCHAR},
                        </if>
                        <if test="stageFlag != null and stageFlag != ''">
                            stage_flag= #{stageFlag,jdbcType=VARCHAR},
                        </if>
                        <if test="replaceFlag != null and replaceFlag != ''">
                            replace_flag= #{replaceFlag,jdbcType=VARCHAR},
                        </if>
                        <if test="waterelectronic != null and waterelectronic != ''">
                            waterelectronic= #{waterelectronic,jdbcType=VARCHAR},
                        </if>
                        <if test="plantCode != null and plantCode != ''">
                            plant_code= #{plantCode,jdbcType=VARCHAR},
                        </if>
                        <if test="processOrderNo != null and processOrderNo != ''">
                            process_order_no= #{processOrderNo,jdbcType=VARCHAR},
                        </if>
                        <if test="productionType != null and productionType != ''">
                            production_type= #{productionType,jdbcType=VARCHAR},
                        </if>
                        <if test="productionSpec != null and productionSpec != ''">
                            production_spec= #{productionSpec,jdbcType=VARCHAR},
                        </if>
                        <if test="destination != null and destination != ''">
                            destination= #{destination,jdbcType=VARCHAR},
                        </if>
                        <if test="targetWeight != null and targetWeight != ''">
                            target_weight= #{targetWeight,jdbcType=VARCHAR},
                        </if>
                        <if test="customerName != null and customerName != ''">
                            customer_name= #{customerName,jdbcType=VARCHAR},
                        </if>
                        <if test="productionName != null and productionName != ''">
                            production_name= #{productionName,jdbcType=VARCHAR},
                        </if>
        </trim>
    </sql>

    <!-- 插入实体 -->
    <insert id="insert" parameterType="com.zhengda.platform.entity.UserOrderDetail" useGeneratedKeys="true"
            keyProperty="id">
        insert into user_order_detail set
        <include refid="saveSet"/>
    </insert>
    <!-- 批量插入实体 -->
    <insert id="insertList" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="id">
        insert into user_order_detail
        (
                    order_id,
                    shift,
                    material_code,
                    material_desc,
                    material_group,
                    old_material_code,
                    production_no,
                    production_unit,
                    production_qty,
                    read_status,
                    update_time,
                    zverid,
                    line_no,
                    line_name,
                    create_time,
                    modify_time,
                    deleted,
                    flag,
                    operationphase,
                    operationphase_name,
                    confirmation_no,
                    machine,
                    number_of_employees,
                    operation_qty,
                    operation_unit,
                    base_qty,
                    denominator_qty,
                    numerator_qty,
                    labor_time,
                    labor_unit,
                    machine_time,
                    machine_unit,
                    item_no,
                    component_code,
                    component_desc,
                    component_qty,
                    component_unit,
                    prodstor_location,
                    cost_operationphase,
                    ctr_code,
                    receiving_flag,
                    stage_flag,
                    replace_flag,
                    waterelectronic,
                    plant_code,
                    process_order_no,
                    production_type,
                    production_spec,
                    destination,
                    target_weight,
                    customer_name,
                    production_name
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <trim prefix="" suffixOverrides=",">
                    #{item.orderId,jdbcType=BIGINT},
                    #{item.shift,jdbcType=INTEGER},
                    #{item.materialCode,jdbcType=VARCHAR},
                    #{item.materialDesc,jdbcType=VARCHAR},
                    #{item.materialGroup,jdbcType=VARCHAR},
                    #{item.oldMaterialCode,jdbcType=VARCHAR},
                    #{item.productionNo,jdbcType=VARCHAR},
                    #{item.productionUnit,jdbcType=VARCHAR},
                    #{item.productionQty,jdbcType=DECIMAL},
                    #{item.readStatus,jdbcType=INTEGER},
                    #{item.updateTime,jdbcType=TIMESTAMP},
                    #{item.zverid,jdbcType=VARCHAR},
                    #{item.lineNo,jdbcType=VARCHAR},
                    #{item.lineName,jdbcType=VARCHAR},
                    #{item.createTime,jdbcType=TIMESTAMP},
                    #{item.modifyTime,jdbcType=TIMESTAMP},
                    #{item.deleted,jdbcType=INTEGER},
                    #{item.flag,jdbcType=VARCHAR},
                    #{item.operationphase,jdbcType=VARCHAR},
                    #{item.operationphaseName,jdbcType=VARCHAR},
                    #{item.confirmationNo,jdbcType=VARCHAR},
                    #{item.machine,jdbcType=VARCHAR},
                    #{item.numberOfEmployees,jdbcType=INTEGER},
                    #{item.operationQty,jdbcType=INTEGER},
                    #{item.operationUnit,jdbcType=VARCHAR},
                    #{item.baseQty,jdbcType=DECIMAL},
                    #{item.denominatorQty,jdbcType=INTEGER},
                    #{item.numeratorQty,jdbcType=INTEGER},
                    #{item.laborTime,jdbcType=DECIMAL},
                    #{item.laborUnit,jdbcType=VARCHAR},
                    #{item.machineTime,jdbcType=DECIMAL},
                    #{item.machineUnit,jdbcType=VARCHAR},
                    #{item.itemNo,jdbcType=VARCHAR},
                    #{item.componentCode,jdbcType=VARCHAR},
                    #{item.componentDesc,jdbcType=VARCHAR},
                    #{item.componentQty,jdbcType=DECIMAL},
                    #{item.componentUnit,jdbcType=VARCHAR},
                    #{item.prodstorLocation,jdbcType=VARCHAR},
                    #{item.costOperationphase,jdbcType=VARCHAR},
                    #{item.ctrCode,jdbcType=VARCHAR},
                    #{item.receivingFlag,jdbcType=VARCHAR},
                    #{item.stageFlag,jdbcType=VARCHAR},
                    #{item.replaceFlag,jdbcType=VARCHAR},
                    #{item.waterelectronic,jdbcType=VARCHAR},
                    #{item.plantCode,jdbcType=VARCHAR},
                    #{item.processOrderNo,jdbcType=VARCHAR},
                    #{item.productionType,jdbcType=VARCHAR},
                    #{item.productionSpec,jdbcType=VARCHAR},
                    #{item.destination,jdbcType=VARCHAR},
                    #{item.targetWeight,jdbcType=VARCHAR},
                    #{item.customerName,jdbcType=VARCHAR},
                    #{item.productionName,jdbcType=VARCHAR},
            </trim>
            )
        </foreach>
    </insert>

    <!-- 更新实体 -->
    <update id="update" parameterType="com.zhengda.platform.entity.UserOrderDetail">
        update user_order_detail set
        <include refid="saveSet"/>
        where id = #{id}
    </update>
    <update id="deleteById">
        update user_order_detail
        <set>
            deleted=1
        </set>
        where id = #{id}
    </update>

    <!-- 查询单个 -->
    <select id="getById" resultType="com.zhengda.platform.entity.UserOrderDetail">
        <include refid="fields"/>
        from user_order_detail
        where id = #{id}
    </select>
    <!-- 查询 -->
    <select id="getList"
            resultType="com.zhengda.platform.entity.UserOrderDetail">
        <include refid="fields"/>
        from user_order_detail
        <include refid="where"/>
        <if test="column != null">
            order by ${column}  ${sort}
        </if>
        <if test="offset != null">
            limit #{offset} , ${limit}
        </if>
    </select>


    <!-- 查询（计数） -->
    <select id="getCount" resultType="java.lang.Long">
        select count(*)
        from user_order_detail
        <include refid="where"/>
    </select>
</mapper>
